*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background-image: url(../imagenes/img10.jpg) ;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;

  font-family: sans-serif;
  height: 100vh;

}

.login {
  width: 520px;
  height: 420px;
  background: #2E3234;
  color: #fff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 70px 30px;
  border-radius: 2%;
}

.login .logo {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  position: absolute;
  top: -90px;
  transform: translate(145px,-30px);
}

.login h1 {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;
}

.login label {
  margin: 0;
  padding: 0;
  font-weight: bold;
  display: block;
}

.login input {
  width: 100%;
  margin-bottom: 20px;
}

.login input[type="text"], .login input[type="password"] {
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
}

.login input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  background: #0000FF;
  color: #fff;
  font-size: 18px;
border-radius: 20px;
}

.login input[type="submit"  ]:hover {
  cursor: pointer;
background: #ffc107;
  color: #000;
}

.login a {
  text-decoration: none;
  font-size: 12px;
line-height: 20px;
  color: darkgrey;
}

.login-box a:hover {
  color: #fff;
  font-size: 16px;
  border-radius: 2px;

 }
 .login input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  background: #0000FF;
  color: #fff;
  font-size: 18px;
border-radius: 20px;
}
a{
  margin-left: 8px;
  font-size: 20px;
  
}
