* {
margin: 0px;
padding: 0px;
box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background-image: url(../imagenes/img1.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  font-family: sans-serif;
  height: 100vh;
  position: absolute;
}

#logo{
height: 400px;
  width: 1600px;
  transform: translate(25px,-50px);


}
.barraN{
  width:1600px;
  height: 60px;
  transform: translate(1.5% , -200%);

}
.barraN form{
height:  100px;
margin-top: 50px
backgroun: #0000FF;
transform: translate(32%,15px);
display: inline-block;


}
.barraN input[type="submit"]{
  width: 430px;
  border:1px;
  outline: 1px;
  height: 30px;
  font-size: 28px;
  color: #fff;
  transform: translate(0%, 0px);
  border-radius: 12px;
  background: #0000FF;
  display: inline-block;


}
.barraN  input[type="submit"]:hover{
  cursor: pointer;
  background:#ffc107;
  color:#000;
  width: 440px;
  height: 40px;
  transform: translate(0% , 0%);
  display: inline-block;


}
.barraD{
  width: 584px;
  border: 1px;
  outline: 1px;
  height: 350px;
  background-color: #b80f22;
  font-size: 28px;
  color: #000;
  transform: translate(178%,-30%);
  background: #E6E6FA;
overflow-y: scroll;


}
.busqueda{
  width: 100%;
  height: 80px;
  border: 1px;
  outline: 1px;
  background-color: #b80f22;
  font-size: 28px;
  color: #000;
  transform: translate(0%,0%);
  background: #0d0ddd;
  


 }
.PLACA{
  width: 270px;
  height: 105px;
  color: #000;
  display: block;
  font-weight:bold;
  background-color: #ffd700;
  font-size: 50px;
  border-style: ridge;
  border-color: #000;
  border-width: 3px;
  border-radius: 10px;
  font-weight:bold;
  transform: translate(8%,20%);

  }
.PLACA:hover{
  cursor:pointer;
  background: #ffc107;
  width: 280px;
  height: 125px;
  display: block;
  transform: translate(5.8%,20%);

}

 }
#BUSCAR{
  height: 25px;
  width: 180px;
  border-color: transparent ;
  border-radius: 10px
}
.salir{
  width: 80px;
  height: 80px;
  background:rgb(0, 18, 255) ;
  transform: translate(40%,-100%);
  border-radius: 50px;
  position: absolute;

}
.salir:hover{
  cursor: pointer;
  width: 79px;
  height: 79px;
  background:#ffc107;
  transform: translate(41%,-100%);
}
#salir{
  width: 50px;
  height: 50px;
  transform: translate(40%,40%);
}

.perfiladmin{
  background:rgba(148, 153, 159, 0.64) ;
  width: 1040px;
  height: 350px;
  transform: translate(2.5%,-455px);
  position: absolute;
  border-radius: 5px;
}
.fotopU{
  transform: translate(15%,-425px);
  background:rgba(0, 0, 0, 0.75);
  width: 280px;
  height: 280px;
  position:absolute;
  border-radius: 50%;

}
.fotopU img {
transform: translate(1.7% , 1.7%);
  border-radius: 50%;
  width: 270px;
  height: 270px;

   }
.tipous{
  transform: translate(60% , 130%);
  font-size: 40px;
  width: 500px;
  height: 40px;
  text-align: center;
  color: rgb(0, 0, 0);
  text-decoration: underline;
  display: block;
}
.registe{
  width: 332px;
  height: 40px;
  transform: translate(338% ,-250%);
  position: absolute;

}
.crearuser[type="submit"]{
    width: 330px;
    border:1px;
    outline: 1px;
    height: 30px;
    font-size: 28px;
    color: #fff;
    transform: translate(0%, 0px);
    border-radius: 12px;
    background: #0000FF;
    display: inline-block;


}
.crearuser:hover{
  cursor: pointer;
  background: rgb(255, 184, 0);

}
